# Database
*.sqlite3
*.db
db.sqlite3

# Django
*.pyc
__pycache__/
migrations/__pycache__/
*.log
local_settings.py

# Environment
.env
.venv
venv/
env/



# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Archivos estáticos recolectados por collectstatic
/staticfiles/

# Archivos de medios subidos por los usuarios
/media/
