<footer class="bg-dark text-light mt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <h5>Molas Guna</h5>
                <p>Tienda online dedicada a promover el arte tradicional Guna de Panamá.</p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'inicio' %}" class="text-light">Inicio</a></li>
                    <li><a href="{% url 'lista_productos' %}" class="text-light">Productos</a></li>
                    <li><a href="#" class="text-light">Sobre Nosotros</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt"></i> Panamá</li>
                    <li><i class="fas fa-phone"></i> +507 1234-5678</li>
                    <li><i class="fas fa-envelope"></i> info@molasguna.com</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; 2024 Molas Guna. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>